<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{post.post_title}}
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date_posted}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_content}}
    </p>
  </div>
</div>
